<p>
    All pets in array 
</p>
<ol>
    @foreach (string x in ViewBag.Pets)
    {
        <li>
            @x
        </li>
    }
</ol>
<p>
    All pets in array - sort ascending
</p>
<ol>
    @foreach (string x in ViewBag.Results1)
    {
        <li>
            @x
        </li>
    }
</ol>
<p>
    All pets in array - sort descending
</p>
<ol>
    @foreach (string x in ViewBag.Results2)
    {
        <li>
            @x
        </li>
    }
</ol>